{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}

{% block content%}

<div class="container">
    <div class="row mt-4">
        <div class="col-lg-5 col-md-6 m-auto card p-4">
            <form action="{{url_for('main.create_wallet')}}" method="POST" class="card-body">
                {{ form.csrf_token }}

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <div class="text-center">
                    <h2>Welcome {{current_user.name}}</h2>
                    <h5 class="text-primary">Create your wallet</h5>
                </div>

                <div class="form-group mb-3">
                    {{ form.name(class_="form-control",placeholder="Name")}}
                </div>
                {% for error in form.name.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor%}

                <div class="form-group mb-3">
                    {{ form.initial_balance(class_="form-control",placeholder="Balance")}}
                </div>
                {% for error in form.initial_balance.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor%}

                <div class="text-center">
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-block btn-primary mb-3"> Create </button>
                    </div>

                    {% if current_user.is_authenticated %}
                    <a href="{{url_for('main.logout')}}">Logout</a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}