{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}

{% block content%}

<div class="container">
    <div class="row mt-4">
        <div class="col-lg-5 col-md-6 m-auto card p-4">
            <form action="{{url_for('edit_transaction', transaction_id=transaction.id)}}" method="POST"
                class="card-body">
                {{ form.csrf_token }}

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <div class="text-center">
                    <h2>Edit Transaction</h2>
                    <h5 class="text-primary">Edit the needed fields</h5>
                </div>

                <div class="form-group mb-3">
                    {{ form.amount(class_="form-control",value=transaction.amount)}}
                </div>
                {% for error in form.amount.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor%}

                <div class="form-group mb-3">
                    {{ form.description(class_="form-control",value=transaction.description)}}
                </div>
                {% for error in form.description.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor%}

                <div class="form-group mb-3">
                    {{ form.type(class_="form-control", value=transaction.type)}}
                </div>
                {% for error in form.type.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor%}

                <div class="form-group mb-3">
                    {{ form.date(class_="form-control",value=transaction.date)}}
                </div>
                <br>
                {% for error in form.date.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor%}

                <div class="text-center">
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Edit Transaction</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}